
.moreOne{
    height: 60vh;
    width: 85vh;
    object-fit: cover;
}
  
.contVideo{
    width: 640px;
}

 /*.containerTwo{
    background-image:url(/src/icones/hedi.jpg);
    background-repeat: no-repeat;
    background-size: cover 70;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}*/

.contOne{
    background-image:url(/src/icones/more11.png);
    background-repeat: no-repeat;
    background-size: cover 70;
    background-position: center;
    background-attachment: fixed;
}

.bgMore2{
    background-color:rgba(56, 51, 34, 0.45);
}
